.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.grey {
    background: aliceblue;
}

.grey-text {
    color: dimgrey;
    text-shadow: 1px 1px 1px #000
}
.yellow {
    background: yellow;
}

.yellow-text {
    color: #0009ff;
    text-shadow: 1px 1px 1px #07e8f3
}

.green {
    background: lightgreen;
}

.green-text {
    color: #060a79;
    text-shadow: 1px 1px 1px #ff0000
}