.input:focus {
    outline: none;
    border: gold solid 2px;
}

.superInput {
    border: 1px solid #cccccc;
border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-khtml-border-radius: 3px;
background: #ffffff !important;
outline: none;
height: 24px;
width: 120px;
color: #cccccc;
font-size: 11px;
font-family: Tahoma;
}

.errorInput {
    border: 3px solid lime;
    background: red;
}

.error {
    color: red;
}